{:name "ui-reacttable"
 ; build-time
 :lazy true
 :theme {:available  {}
         :current {}}
 :cljs-namespace [pinkgorilla.reacttable.reacttable]
 :cljs-bindings {'react-table pinkgorilla.reacttable.reacttable/react-table
                 'example pinkgorilla.reacttable.reacttable/example
                 }
 :cljs-ns-bindings {}
 :pinkie {:p/reacttable pinkgorilla.reacttable.reacttable/react-table
          :p/example pinkgorilla.reacttable.reacttable/example
          }
 ; runtime
 :clj-require []
 
}