{:name "ui-reacttable"
 ; build
 :lazy true
 :cljs-namespace [ui.reacttable]
 :cljs-ns-bindings {ui.reacttable {'react-table ui.reacttable/react-table}}
 ; theme
 :theme {:available  {}
         :current {}}}